#main_2 {
    margin: 10;
    width: 450px;
    height: 5px;
    float: right;
    padding-right: 500px;
    color: #0a0a0a;

}

#link {
    font-style: italic;
    float: right;
    padding-right: 5em;
    font-size: larger;
    clear: both;
}

#holder {
    float: left;
    padding-right: 5em;
    font-size: larger;
    clear: both;
}