aside {
    color: #0a0a0a;
    font-size: larger;
    background-color: rgb(236, 56, 56);
    flex-basis: 40%;
    margin-right: 1em;
    margin-left: 1em;
    border: 8px solid rgb(238, 226, 66);
}

#main_2 {
    color: #0a0a0a;
    font-size: larger;
    background-color: rgb(238, 226, 66);
    flex-basis: 45%;
    margin-left: 1em;
    border: 8px solid rgb(236, 56, 56);
}

div#boxes {
    display: flex;
    flex-direction: row;
}

#link_p2 {
    font-style: italic;
    float: right;
    padding-right: 5em;
    font-size: larger;
    clear: both;
}

img.html {
    width: 65%;
    float: none;
}

#holder {
    float: left;
    padding-right: 5em;
    font-size: larger;
    clear: both;
}

.lists_p2 {
    text-align: left;
    list-style-type: none;
    font-size: large;
}

.leftcolumn {
    padding: 1.5%;
    display: flexbox;
}

.midcolumn {
    padding: 1.5% 4%;
    display: flexbox;
}

/* Page 3 */

#main_3 {
    color: #0a0a0a;
    font-size: larger;
    background-color: rgb(248, 179, 88);
    flex-basis: 45%;
    margin-left: 1em;
    border: 8px solid rgb(240, 245, 166);
}

#aside_3 {
    color: #0a0a0a;
    font-size: larger;
    background-color: rgb(240, 245, 166);
    flex-basis: 40%;
    margin-right: 1em;
    margin-left: 1em;
    border: 8px solid rgb(248, 179, 88);
}

p.para-3 {
    margin-right: 0%;
}

/* <p> styling for page 4 */
main#newpage {
    color: hsl(#000000);
    font-size: 25px;
    text-align: left;
    clear: both;

}

#link_4 {
    font-style: italic;
    float: right;
    font-size: larger;
    margin-right: 2em;
    margin-top: 65em;
}

.red {
    background-color: #ff0000;
    grid-area: red;
    height: 100%;
    width: 75%;
    padding: 2px;
    padding-left: 1em;
    margin-top: 3em;
    margin-left: 7em;
}

.green {
    background-color: #008000;
    grid-area: grn;
    height: 100%;
    width: 75%;
    padding: 2px;
    padding-left: 1em;
    margin-top: 6em;
    margin-left: 7em;
}

.yellow {
    background-color: #ffff00;
    grid-area: yel;
    height: 100%;
    width: 75%;
    padding: 2px;
    padding-left: 1em;
    margin-top: 3em;
}

.black {
    background-color: #000000;
    color: aliceblue;
    grid-area: blk;
    height: 100%;
    width: 75%;
    padding: 2px;
    padding-left: 1em;
    margin-top: 6em;

}

div.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    grid-template-areas:
        "red yel"
        "grn blk";
}

h3.design {
    margin-top: 1em;
}


.fa-solid {
    color: #000000;
}

/* Media Queries */
@media only screen and (max-width: 1091px) {
    #link {
        font-style: italic;
        float: right;
        padding-right: 5em;
        font-size: larger;
        clear: both;
    }

    #holder {
        float: left;
        font-size: larger;
        margin-left: 1em;
    }

    div#boxes {
        display: flex;
        flex-direction: column;
    }

    aside {
        margin-left: 1em;
        margin-right: 0em;
    }

    #aside_3 {
        margin-left: 1em;
        margin-right: 0em;
    }

    p.para-3 {
        text-align: left;
        margin: 1% 1% 1% 1%;
    }

    #link_p2 {
        font-style: italic;
        float: none;
        font-size: larger;

    }

    .red {
        background-color: #ff0000;
        text-align: left;
        margin: 1% 1% 1% 1%;
        margin-left: 1em;
    }

    .green {
        background-color: #008000;
        text-align: left;
        margin: 1% 1% 1% 1%;
        margin-left: 1em;
    }

    .yellow {
        background-color: #ffff00;
        text-align: left;
        margin: 1% 1% 1% 1%;
        margin-left: 1em;
    }

    .black {
        background-color: #000000;
        text-align: left;
        margin: 1% 1% 1% 1%;
        margin-left: 1em;
    }

    div.container {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 16px;
        grid-template-areas:
            "red"
            "yel"
            "grn"
            "blk";
    }

    #main_2 {
        color: #0a0a0a;
        font-size: larger;
        background-color: rgb(238, 226, 66);
        flex-basis: 45%;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        border: 8px solid rgb(236, 56, 56);
        width: auto;
    }

    aside {
        color: #0a0a0a;
        font-size: larger;
        background-color: rgb(236, 56, 56);
        flex-basis: 45%;
        margin-right: 1em;
        margin-left: 1em;
        border: 8px solid rgb(238, 226, 66);
        width: auto;
    }

}